<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <style>
        #map { position: absolute; top: 35%; bottom: 0; left: 53%; width: 35%; height: 55%;};
    </style>
    <title>Mapz</title>
</head>
<body>
    <h1>Maps</h1>
    <%- body %>
</body>
</html>